<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <base href="{{baseURL}}" />
  <link rel="stylesheet" href="./css/styles.css">
  <title>WT1 Oauth</title>
</head>
<body>
  <main id="container">
    {{>header}}
    {{{body}}}
  </main>
</body>
</html>